<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beverages</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f0f0;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #000000;
            color: #ffffff;
            padding: 2px;
            text-align: center;
        }

       

        nav a {
            display: inline-block;
            color: #fff;
            text-decoration: none;
            padding: 14px 16px;
            transition: background-color 0.3s;
        }

        nav a:hover {
            background-color: #333;
        }

        section {
            padding: 20px;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 20px;
        }

        .product {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s;
        }

        .product:hover {
            transform: scale(1.05);
        }

        .product img {
            width: 100%;
            height: auto;
            border-bottom: 1px solid #ddd;
        }

        .product-info {
            padding: 15px;
        }

        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px;
        }
    </style>
</head>

<body>
    <header>
        <h1>MEN</h1>
    </header>



    <section>
        <div class="product">
            <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/1/e/tr:w-480,/1e5ec8fNTHRAD00003466_1.jpg?rnd=20200526195200" alt="Product 1">
            <div class="product-info">
                <h2>Threadbare</h2>
                <p>Men Green Bomber Jacket</p>
                <p>$99.99</p>
                <button>Add to Cart</button>
            </div>
        </div>

        <div class="product">
            <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/e/c/tr:w-480,/ec9fa3aHZ-S-BLACK_1.jpg?rnd=20200526195200" alt="Product 2">
            <div class="product-info">
                <h2>Kvetoo</h2>
                <p>Self Design High Neck Sweater For Men
                </p>
                <p>$149.99</p>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="product">
            <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/a/5/tr:w-480,/a5671cf7004735438_1.jpg?rnd=20200526195200" alt="Product 2">
            <div class="product-info">
                <h2>Styli</h2>
                <p>Balloon Fit Jeans With Pocket Construct Blue</p>
                <p>$149.99</p>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="product">
            <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/a/8/tr:w-480,/a866838NK_BULLM00010478_1.jpg?rnd=20200526195200" alt="Product 2">
            <div class="product-info">
                <h2>Bullmer</h2>
                <p>Brown Front and Back Printed Colourblock Baggy Oversized T-Shirt for Men</p>
                <p>$149.99</p>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="product">
            <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/a/8/tr:w-480,/a866838NK_BULLM00010466_1.jpg?rnd=20200526195200" alt="Product 2">
            <div class="product-info">
                <h2>Product 2</h2>
                <p>Description of Product 2.</p>
                <p>$149.99</p>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="product">
            <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/2/7/tr:w-480,/2791ca8BUL-22BHC-BL_1.jpg?rnd=20200526195200" alt="Product 2">
            <div class="product-info">
                <h2>Bullmer</h2>
                <p>Colorblock Full Sleeve Hooded T-shirt For Men Black And Grey</p>
                <p>$149.99</p>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="product">
            <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/a/8/tr:w-480,/a853327MTSH00183_LTNAVY_1.jpg?rnd=20200526195200" alt="Product 2">
            <div class="product-info">
                <h2>cantabil</h2>
                <p>Men Cotton Light Navy Blue Polo T-Shirt</p>
                <p>$149.99</p>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="product">
            <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/a/d/tr:w-480,/ad5b71fHP9646_1.jpg?rnd=20200526195200" alt="Product 2">
            <div class="product-info">
                <h2>Adidas</h2>
                <p>Solarcontrol 2 M Running Shoes Black</p>
                <p>$149.99</p>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="product">
            <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/3/4/tr:w-480,/3467193MJ-23-1403361DGREY_1.jpg?rnd=20200526195200" alt="Product 2">
            <div class="product-info">
                <h2>Okane</h2>
                <p>Men Grey Solid/Plain Full Sleeves Hooded Jacket</p>
                <p>$149.99</p>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="product">
            <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/0/a/tr:w-480,/0ac77ae148226502_1.jpg?rnd=20200526195200" alt="Product 2">
            <div class="product-info">
                <h2>Jack & Jone</h2>
                <p>Navy Blue Slim Fit Stretch Jeans.</p>
                <p>$149.99</p>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="product">
            <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/f/e/tr:w-480,/fea6bfeASBZMASLFM41910_1.jpg?rnd=20200526195200" alt="Product 2">
            <div class="product-info">
                <h2>Allen Solly</h2>
                <p>Men Navy Blue Slim Fit Solid Formal Blazer</p>
                <p>$149.99</p>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="product">
            <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/f/0/tr:w-480,/f06801eTBH-WISTERIA-PL_1.jpg?rnd=20200526195200" alt="Product 2">
            <div class="product-info">
                <h2>The Bear House</h2>
                <p>Men Lavender Solid Slim Fit Polo Collar Pure Cotton T-shirt</p>
                <p>$149.99</p>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="product">
            <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/b/e/tr:w-480,/bear-primrose-pk_1_f2bb013b.jpg?rnd=20200526195200" alt="Product 2">
            <div class="product-info">
                <h2>The Bear House</h2>
                <p>Men Pink Solid Polo Collar T-shirt.</p>
                <p>$149.99</p>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="product">
            <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/a/b/tr:w-480,/abe4286NYCH_CHIDI00006271_1.jpg?rnd=20200526195200" alt="Product 2">
            <div class="product-info">
                <h2>Chidiyaa</h2>
                <p>Mustard Eclipse Block Printed Mens Shirt</p>
                <p>$149.99</p>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="product">
            <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/9/7/tr:w-480,/9782286NYCH_CHIDI00006269_1.jpg?rnd=20200526195200" alt="Product 2">
            <div class="product-info">
                <h2>Chidiyaa</h2>
                <p>Ivory Block Printed Mens Shirt</p>
                <p>$149.99</p>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="product">
            <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/b/e/tr:w-480,/bear-owen-bl_1_0ea78395.jpg?rnd=20200526195200" alt="Product 2">
            <div class="product-info">
                <h2>The Bear House</h2>
                <p>Men Navy Blue Solid Polo Collar Pure Cotton T-shirt </p>
                <p>$149.99</p>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="product">
            <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/e/1/tr:w-480,/e12192fHT09221148_1.jpg?rnd=20200526195200" alt="Product 2">
            <div class="product-info">
                <h2>RIGO</h2>
                <p>Men Teal Henley Neck Full Sleeves Waffle Knit T-Shirt</p>
                <p>$149.99</p>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="product">
            <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/5/f/tr:w-480,/5f14f1fTBH-REPOS-GY_1.jpg?rnd=20200526195200" alt="Product 2">
            <div class="product-info">
                <h2>The Bear House</h2>
                <p>Men's Checked Flannel Shirt.</p>
                <p>$149.99</p>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="product">
            <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/a/f/tr:w-480,/afd6eebJAVINPCSS03_1.jpg?rnd=20200526195200" alt="Product 2">
            <div class="product-info">
                <h2>JAVINISHKA</h2>
                <p>Multicolour Brush Digital Printed Party Wear Slim Fit Giza Cotton Shirt</p>
                <p>$149.99</p>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="product">
            <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/c/a/tr:w-480,/caa3d97BUL-S23BW-01B_1.jpg?rnd=20200526195200" alt="Product 2">
            <div class="product-info">
                <h2>BULLMER</h2>
                <p>Blue Trendy Printed Fleece Hoodie Sweatshirt For Men</p>
                <p>$149.99</p>
                <button>Add to Cart</button>
            </div>
        </div>



        <!-- Add more product listings as needed -->

    </section>

    <footer>
        <p>&copy;  All rights reserved.</p>
    </footer>
</body>

</html>